@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #15181b;
    color: white;
}

.main-container{
    break-inside: avoid;
}

.yarl__container {
    background-color: #15181b !important;
}

.yarl__slide_captions_container{
    position: absolute;
    top: 85%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #b3b0b074;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}


/* 
.yarl__button {
    color: #333 !important;
    filter: none !important;
}

.yarl__slide_placeholder,
.yarl__slide_placeholder svg {
    color: #333 !important;
} */