@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GraphikLight";
    src: url("../public/fonts/GraphikLight.otf");
}

@font-face {
    font-family: "GraphikSemibold";
    src: url("../public/fonts/GraphikSemibold.otf");
}

@font-face {
    font-family: "GraphikLightItalic";
    src: url("../public/fonts/GraphikLightItalic.otf");
}

@font-face {
    font-family: "GraphikBoldItalic";
    src: url("../public/fonts/GraphikBoldItalic.otf");
}

body {
    background-color: #15181b;
    color: white;
}

html {
    font-family: "GraphikLight";
}

.main-container {
    break-inside: avoid;
}

.yarl__container {
    background-color: #15181b !important;
}

.yarl__slide_captions_container {
    position: absolute;
    top: 95%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #b3b0b074;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}


.images {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

figure>.images {
    grid-row: 1 / -1;
    grid-column: 1;
}


/* Small to medium */
@media (max-width:767px) {
    .c-container {
        column-count: 1;
        column-gap: 10px;
    }
}

/* Medium Screen */
@media (min-width: 768px) {
    .c-container {
        column-count: 2;
        column-gap: 10px;
    }
}

/* Large Screen */
@media (min-width: 1024px) {

    .c-container {
        column-count: 3;
        column-gap: 10px;
    }
}